<!DOCTYPE html>
<html lang=<%= config['language'] %>>
  <%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <%- body %>
  <%- partial('_custom_ads/google_adsense') %>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/google-analytics') %>
</body>
</html>
